// FONT
// @font-face {
//     font-family: "Berlingske Sans";
//     src: url("fonts/BerlingskeSans-Md_0.otf");
//     src: url("fonts/BerlingskeSans-Xbd_0.otf");
//     src: url("fonts/BerlingskeSans-Md_0.otf") format("otf");
// } 
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

body{
    width: 100vw;
    height: 100vh;
}

a{
    color: #000;
}

.container{
   margin: 0px 122px 100px 122px;
   position: relative;
   top: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 140px;
    padding-top: 66px;
}

.heading{
    font-weight: bold;
    font-size: 24px;
    color: #000;
}

.social-media{
    font-weight: bold;
    font-size: 18px;
    color: #000;

    a{
        &:hover{
           color: tomato; 
        }
    }
}

.social-media-mobile{
    display: none;
}

.intro{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.about{
    width: 40%;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-align: justify;
}

.about-mobile{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    letter-spacing: 0.1em;
    // text-align: left;
}

.me{
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    line-height: 42px;
    letter-spacing: 0.1em;

    .job{
        font-weight: 300;
        font-size: 20px;
        line-height: 29px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
}

// VERKEFNI
// container utan um projects
.projects-container{
    flex: 1;
    display: flex;
   
}

.overflow{
    overflow: auto;
    scroll-behavior: smooth;
}

// utan verkefnin öll 
.projects{
    position: relative;
    bottom: 0;
    left: 122px;
    min-height: min-content;
    display: flex;
}

// stakt verkefni
.project{
    height: 430px;
    width: 430px;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;

    .middle{
        // transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        &:hover{
            opacity: 1;

            .hover-text{
                font-weight: bold;
                font-size: 24px;
                text-align: center;
                letter-spacing: 0.1em;
                color: #fff;
            }
        }

        
    }

    img{
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        // transition: .5s ease;
        backface-visibility: hidden;
        &:hover {
            opacity: 0.3;
        }
    }
}


//MEDIA QUERYS
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 980px) {
    // body {
    //   background-color: blue;
    // }

    .intro{
        flex-direction: column;
        
        .about{
            margin-top: 100px;
        }
    }

    .overflow{
        overflow: hidden;
    }

    .projects{
        flex-direction: column;
    }

    .project{
        flex-direction: column;
    }

    .about{
        width: 100%;
    }
  }

@media screen and (max-width: 660px) {

    .container{
        margin: 0 20% 0 20%;
    }

    .projects{
        left: 100px;
    }

    .project{
        width: 100%;
        height: 100%;
    }

    .intro{
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 600px) {

    .container{
        margin: 0 75px 0 75px;
    }

    .projects{
        left: 75px;
    }

    .social-media{
        display: none;
    }

    .social-media-mobile{
         font-weight: bold;
         font-size: 18px;
         color: #000;
         display: block;
         margin-top: 290px;
    }

 //    about síðan, bara mobile
    .social-media-mobile-about{
     font-weight: bold;
     font-size: 18px;
     color: #000;
     display: block;
     margin-top: 138px;
    }

    .about{
        display: none;
    }

    .nav{
        margin-bottom: 235px;
    }
}

@media screen and (max-width: 460px) { 

       .container{
            margin: 0px 45px 0px 45px;
       }

       .projects-container{
           margin-top: 60px;
       }

       .projects{
            left: 45px;
            width: 100%;
       }

       .social-media-mobile{
            margin-top: 78%;
       }
}

@media screen and (max-width: 357px) { 

    .container{
         margin: 0px 0px 0px 45px;
    }


    .social-media-mobile{
        margin-top: 45%;
   }
 }